**1) [P] Report the Python, Numpy and Pandas version numbers**

In [30]:
import sys
import numpy as np
import pandas as pd
print("Python version is " + str(sys.version))
print("Numpy version is {}".format(np.__version__))
print("Pandas version is {}".format(pd.__version__))

Python version is 3.6.3 |Anaconda, Inc.| (default, Oct 15 2017, 03:27:45) [MSC v.1900 64 bit (AMD64)]
Numpy version is 1.13.3
Pandas version is 0.20.3

**2) [P] Show the result of pd.show_versions().**

In [31]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.3.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: Intel64 Family 6 Model 61 Stepping 4, GenuineIntel
byteorder: little
LC_ALL: None
LANG: None
LOCALE: None.None

pandas: 0.20.3
pytest: 3.2.1
pip: 9.0.1
setuptools: 36.5.0.post20170921
Cython: 0.26.1
numpy: 1.13.3
scipy: 0.19.1
xarray: None
IPython: 6.1.0
sphinx: 1.6.3
patsy: 0.4.1
dateutil: 2.6.1
pytz: 2017.2
blosc: None
bottleneck: 1.2.1
tables: 3.4.2
numexpr: 2.6.2
feather: None
matplotlib: 2.1.0
openpyxl: 2.4.8
xlrd: 1.1.0
xlwt: 1.3.0
xlsxwriter: 1.0.2
lxml: 4.1.0
bs4: 4.6.0
html5lib: 0.999999999
sqlalchemy: 1.1.13
pymysql: None
psycopg2: None
jinja2: 2.9.6
s3fs: None
pandas_gbq: None
pandas_datareader: None

**3) [M] Explain the relationship between numpy and pandas. How are they tied together? What core
functionality does pandas add to numpy?**

The two libraries integrate seamlessly, with numpy being a dependency for pandas. The array computations offered by numpy are used by pandas DataFrames, with the possibility of passing Pandas DataFrames as parameters to numpy methods. Pandas objects can add some additional core functionality to numpy. For example, with a Pandas Series instance, we can define our own labeled index to index and access elements of an array. 

*Source: https://medium.com/@ericvanrees/pandas-series-objects-and-numpy-arrays-15dfe05919d7*

**4) [M] The two primary data structures in pandas are Series and DataFrame. Compare and contrast these
two types**

pandas series is a one-dimensional labeled array capable of holding any data type, whereas DataFrame is a 2-dimensional labeled data structure, where it's possible for columns to have different types. If we were to look more in depth, we would find that a single column in the DataFrame is a Series.

**5) [M] What are the data structures that can be used to create a Series object in pandas?**

To quote the pandas documentation, Series can be created from a Python dict, a Python list, a numpy ndarray, and a scalar value

**6) [M] What are the data structures that can be used to create a DataFrame object in pandas?**

Dataframes can be created from dictionaries of 1-D numpy ndarrays, lists, dicts, or Series, a 2-D numpy.ndarray, a structured numpy ndarray, pandas Series, or even another DataFrame

**7) [M] What role does the index parameter play when creating a Series object? Does the index always need
to be specified? If not, under what conditions is it needed? When can it be implied?**

The index is just the list of axis labels, and does not need to be specified. If not specified, the axis will be labeled as sequential integers from 0 to n - 1 where n is the number of axes

**8) [P] Convert scores_1 and scores_2 into two Series objects. Use days as your index. You should name
each Series object using the name parameter as "week_1", and "week_2"**

In [32]:
days = ["Mon","Tue","Wed","Thu","Fri"]
scores_1 = [9.5, 8.75, 8, 10, 7.75]
scores_2 = [9, 8, 10, 8.75, 7.25]

In [33]:
week_1 = pd.Series(scores_1, index=days)
week_2 = pd.Series(scores_2, index=days)
print('week_1')
print(week_1)
print('week_2')
print(week_2)

week_1
Mon     9.50
Tue     8.75
Wed     8.00
Thu    10.00
Fri     7.75
dtype: float64
week_2
Mon     9.00
Tue     8.00
Wed    10.00
Thu     8.75
Fri     7.25
dtype: float64

**9) [P] Create a pandas DataFrame called scores, that represents the above data. Show your data frame.** (Refer to Lab03 Document for more detail)

In [34]:
dict_of_scores = {'week_1': week_1, 'week_2':week_2}
scores = pd.DataFrame(dict_of_scores)
scores.T

        Mon   Tue   Wed    Thu   Fri
week_1  9.5  8.75   8.0  10.00  7.75
week_2  9.0  8.00  10.0   8.75  7.25

**10) [P] Append one more week of data to scores. The data you are appending is [8.5,8,9.75,9,6]. The row
label on the new week is "week_3". Show your updated data frame.**

In [35]:
week_3 = pd.DataFrame({'week_3':[8.5,8,9.75,9,6]}, index=days)
scores = pd.concat([scores, week_3], axis=1)
scores.T

        Mon   Tue    Wed    Thu   Fri
week_1  9.5  8.75   8.00  10.00  7.75
week_2  9.0  8.00  10.00   8.75  7.25
week_3  8.5  8.00   9.75   9.00  6.00

**11) [M] Pandas has an ENORMOUS number of ways you can select your data. At first, the flexibility will confuse
and drive you nuts. In time, it because amazing and intuitive (with less nuts.) Write yourself a quick one sentence reference for each access method listed in the Lab03 pdf document, with one example for
each using the scores DataFrame.**

**.at: *Access a single value for a row/column label pair* **

In [36]:
scores.at['Mon', 'week_3']

8.5

**.iat: *Access a single value for a row/column pair by integer position.* **

In [37]:
scores.iat[3,2]

9.0

**.loc: *Access a group of rows and columns by label(s) or a boolean array* **

In [38]:
scores.loc[['Mon', 'Thu']].T

        Mon    Thu
week_1  9.5  10.00
week_2  9.0   8.75
week_3  8.5   9.00

**.iloc: *Purely integer-location based indexing for selection by position.* **

In [39]:
scores.iloc[:2].T

        Mon   Tue
week_1  9.5  8.75
week_2  9.0  8.00
week_3  8.5  8.00

**12) [P] Show at least two different techniques to select scores for Monday using the string "Mon"**

In [40]:
scores.loc[["Mon"]].T

        Mon
week_1  9.5
week_2  9.0
week_3  8.5

In [41]:
scores.T["Mon"]

week_1    9.5
week_2    9.0
week_3    8.5
Name: Mon, dtype: float64

**13) [P] Show how to retrieve the scores for Tuesday using the named attribute Tue**

In [42]:
scores.T["Tue"]

week_1    8.75
week_2    8.00
week_3    8.00
Name: Tue, dtype: float64

**14) [P] Show at least three techniques to select scores for Wednesday using an integer.**

In [43]:
scores.iloc[2]

week_1     8.00
week_2    10.00
week_3     9.75
Name: Wed, dtype: float64

In [44]:
scores[2:3].T.squeeze()

week_1     8.00
week_2    10.00
week_3     9.75
Name: Wed, dtype: float64

In [45]:
scores.T[scores.T.columns[2]]

week_1     8.00
week_2    10.00
week_3     9.75
Name: Wed, dtype: float64

**15) [P] Select the data for the first week using the string "week_1"**

In [46]:
scores.T.loc['week_1']

Mon     9.50
Tue     8.75
Wed     8.00
Thu    10.00
Fri     7.75
Name: week_1, dtype: float64

**16) [P] Select the data for the first week using a slice (HINT: 0:1)**

In [47]:
scores.T[0:1].squeeze()

Mon     9.50
Tue     8.75
Wed     8.00
Thu    10.00
Fri     7.75
Name: week_1, dtype: float64

**17) [P] Show at least two techniques to select the data for the second week using an integer**

In [48]:
scores.T.iloc[1]

Mon     9.00
Tue     8.00
Wed    10.00
Thu     8.75
Fri     7.25
Name: week_2, dtype: float64

In [49]:
scores.T.iloc[[1]].squeeze()

Mon     9.00
Tue     8.00
Wed    10.00
Thu     8.75
Fri     7.25
Name: week_2, dtype: float64

In [50]:
scores[scores.columns[1]].squeeze()

Mon     9.00
Tue     8.00
Wed    10.00
Thu     8.75
Fri     7.25
Name: week_2, dtype: float64

**18) [P] Select Monday and Friday of the first and third week.**

In [51]:
scores.T.loc[['week_1', 'week_3'], ['Mon', 'Fri']]

        Mon   Fri
week_1  9.5  7.75
week_3  8.5  6.00

**19) [P] Report the mean for each week**

In [52]:
scores.mean(axis=0)

week_1    8.80
week_2    8.60
week_3    8.25
dtype: float64

**20) [P] For each week, report how much each day's score for that week differed from the mean for the week**

In [53]:
scores.sub(scores.mean(axis=0), axis=1).T

         Mon   Tue  Wed   Thu   Fri
week_1  0.70 -0.05 -0.8  1.20 -1.05
week_2  0.40 -0.60  1.4  0.15 -1.35
week_3  0.25 -0.25  1.5  0.75 -2.25

**21) [P] Report the maximum score for each week**

In [54]:
scores.max(axis=0)

week_1    10.00
week_2    10.00
week_3     9.75
dtype: float64

**22) [P] For each week, report which day had the largest score**

In [55]:
scores.idxmax(axis=0)

week_1    Thu
week_2    Wed
week_3    Wed
dtype: object

**23) [P] Report the scores rescaled to fall between 0 and 100, instead of 0 to 10 as they are now.**

In [56]:
scores.mul(10).T

         Mon   Tue    Wed    Thu   Fri
week_1  95.0  87.5   80.0  100.0  77.5
week_2  90.0  80.0  100.0   87.5  72.5
week_3  85.0  80.0   97.5   90.0  60.0