# Lab 09
**Class**: *CSCI 349 - Intro to Data Mining*
**Semester**: *2019 SP*
**Name**: *Mateen Qureshi*
**Instructor**: *Brian King*

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

**1) [P] Add the import statements:**

In [2]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

**2) [P] These first exercises are going to allow you to leverage the actual documentation from the mlxtend user
guide online. Go to the page: http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/apriori/ . Enter
the dataset, and copy the example code that transforms the list of transactions to a numpy encoded array,
then to a pandas DataFrame with the correct column names. Output your data frame.**

In [3]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [4]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

**3) [P] Show the result of describe() and info() on your dataframe.**

In [5]:
df.describe()

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
count,5,5,5,5,5,5,5,5,5,5,5
unique,2,2,2,2,2,1,2,2,2,2,2
top,False,False,False,True,False,True,True,False,True,False,True
freq,4,3,4,4,4,5,3,3,3,4,3

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 11 columns):
Apple           5 non-null bool
Corn            5 non-null bool
Dill            5 non-null bool
Eggs            5 non-null bool
Ice cream       5 non-null bool
Kidney Beans    5 non-null bool
Milk            5 non-null bool
Nutmeg          5 non-null bool
Onion           5 non-null bool
Unicorn         5 non-null bool
Yogurt          5 non-null bool
dtypes: bool(11)
memory usage: 135.0 bytes

**4) [P] Following along the mlxtend user guide, use the apriori algoritihm to output all frequent itemsets with a
min_support of 0.6. Show the resulting dataframe, and store the result, since you'll have many selection
exercises next. All selection exercises must be done from this resulting frame. Set use_colnames=True.
It'll be much easier to interpret your patterns.**

In [7]:
df_freq = apriori(df, min_support=0.6, use_colnames=True)
df_freq

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Kidney Beans, Eggs)
6       0.6                (Onion, Eggs)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Onion, Kidney Beans, Eggs)

**5) [P] Select all frequent itemsets that have support => 0.8**

In [8]:
df_freq[df_freq['support']>=0.8]

   support              itemsets
0      0.8                (Eggs)
1      1.0        (Kidney Beans)
5      0.8  (Kidney Beans, Eggs)

**6) [P] Select all frequent itemsets with at least 2 items. In their exercises, they often create additional helper
variables to make it easier to select your data. That's entirely up to you. (I tend to be a purist, and reserve
additional variables for only very complex selection criteria. Computing the length of an itemset is not one of
them!)**

In [9]:
lengths = df_freq['itemsets'].apply(lambda x: len(x))
sel_index = lengths[lengths >= 2].index
df_freq.iloc[sel_index]

    support                     itemsets
5       0.8         (Kidney Beans, Eggs)
6       0.6                (Onion, Eggs)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Onion, Kidney Beans, Eggs)

**7) [P] Select the frequent itemsets that contain an 'Onion' in the itemset.**

In [10]:
onions_index = df_freq['itemsets'].apply(lambda x: 'Onion' in str(x))
df_freq.iloc[onions_index[onions_index==True].index]

    support                     itemsets
3       0.6                      (Onion)
6       0.6                (Onion, Eggs)
8       0.6        (Onion, Kidney Beans)
10      0.6  (Onion, Kidney Beans, Eggs)

**8) [P] Select the frequent itemsets that contain both 'Onion' and 'Eggs' in the itemset. (HINT: You should
have 2 frequent itemsets selected.)**

In [11]:
onions_and_eggs = df_freq['itemsets'].apply(lambda x: 'Onion' in str(x) and 'Eggs' in str(x))
df_freq.iloc[onions_and_eggs[onions_and_eggs==True].index]

    support                     itemsets
6       0.6                (Onion, Eggs)
10      0.6  (Onion, Kidney Beans, Eggs)

**9) [P] Select the frequent itemsets that contain either an 'Onion' or 'Kidney Beans' (or both) in the
itemset. (HINT: You should have 8 frequent itemsets output.)**

In [12]:
onions_and_beans = df_freq['itemsets'].apply(lambda x: 'Onion' in str(x) or 'Kidney Beans' in str(x))
df_freq.iloc[onions_and_beans[onions_and_beans==True].index]

    support                     itemsets
1       1.0               (Kidney Beans)
3       0.6                      (Onion)
5       0.8         (Kidney Beans, Eggs)
6       0.6                (Onion, Eggs)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Yogurt, Kidney Beans)
10      0.6  (Onion, Kidney Beans, Eggs)

**10) [P] http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/association_rules/ contains the all the
information about the association rule interestingness metrics, as well as giving you the code to generate the
association rules. (NOTE – they mention a function called generate_rules(). The function is
association_rules().) Generate rules with a minimum confidence of 0.7. Store your resulting data frame called rules. Show the entire data frame. (You should have 12 rules).**

In [13]:
rules = association_rules(df_freq, metric='confidence', min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.80,1.00,0.00,1.0
1,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf
2,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
3,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
4,(Milk),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
5,(Onion),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
6,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
7,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
8,"(Onion, Eggs)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
9,"(Kidney Beans, Eggs)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
10,(Onion),"(Kidney Beans, Eggs)",0.6,0.8,0.6,1.00,1.25,0.12,inf
11,(Eggs),"(Onion, Kidney Beans)",0.8,0.6,0.6,0.75,1.25,0.12,1.6

**11) [P] Output the top 5 rules in descending order by "lift", with the secondary sort key by "confidence".**

In [14]:
rules.sort_values(by=['lift', 'confidence'], ascending = False).head(5)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
7,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
10,(Onion),"(Kidney Beans, Eggs)",0.6,0.8,0.6,1.00,1.25,0.12,inf
3,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
9,"(Kidney Beans, Eggs)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6

**12) [P] Select all rules that have a 1.0 support for the antecedent.**

In [15]:
rules[rules['antecedent support'] == 1.0]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.8,1.0,0.0,1.0

**13) [P] Select al rules that have at least 3 or more items represented in the rule (i.e. the union of the antecedent
and consequent >= 3.)**

In [16]:
lengths = rules['antecedents'].apply(lambda x: len(x)) + rules['consequents'].apply(lambda x: len(x))
sel_index = lengths[lengths >= 3].index
rules.iloc[sel_index]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
7,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
8,"(Onion, Eggs)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
9,"(Kidney Beans, Eggs)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
10,(Onion),"(Kidney Beans, Eggs)",0.6,0.8,0.6,1.00,1.25,0.12,inf
11,(Eggs),"(Onion, Kidney Beans)",0.8,0.6,0.6,0.75,1.25,0.12,1.6

**14) [P] Select the rules that have confidence >= 0.75 and a lift > 1**

In [17]:
rules[(rules['confidence'] >= 0.75) & (rules['lift'] > 1)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2,(Onion),(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
7,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
10,(Onion),"(Kidney Beans, Eggs)",0.6,0.8,0.6,1.0,1.25,0.12,inf

**15) [P] Read in the Chipotle dataset:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chip_df = pd.read_csv(url, sep = '\t')**

In [18]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chip_df = pd.read_csv(url, sep = '\t')

**16) [P] Recall that this dataset is a set of transactions, where each observation represents one item purchased as
part of an order_id. However, the data are not read in this way. You need to transform this dataset to a
collection of binary encoded transactions, where each row represents ONE transaction, and the columns are
binary encoded variables, with each variable representing ONE item available for purchase at Chipotle.
Convert your data. Your resulting data frame should have an index representing the order_id, and columns
representing each possible item from the item_name variable. For now, a transaction will ignore the
quantity of item purchased.**

In [19]:
#Is there a more efficient way to do this??
cat = pd.api.types.CategoricalDtype(categories=list(chip_df['item_name'].unique()))
chip_df['item_name'] = chip_df['item_name'].astype(cat)
cols_to_transform = ['item_name']
chip_df = pd.get_dummies(chip_df[['order_id', 'item_name']], columns=cols_to_transform)
chip_df = chip_df.groupby(by='order_id', squeeze=True).sum()
chip_df.columns = pd.Series(chip_df.columns).apply(lambda x: x.replace('item_name_', ''))
chip_df.head()

,Chips and Fresh Tomato Salsa,Izze,Nantucket Nectar,Chips and Tomatillo-Green Chili Salsa,Chicken Bowl,Side of Chips,Steak Burrito,Steak Soft Tacos,Chips and Guacamole,Chicken Crispy Tacos,...,Carnitas Crispy Tacos,Steak Salad,Chips and Mild Fresh Tomato Salsa,Veggie Soft Tacos,Carnitas Salad Bowl,Barbacoa Salad Bowl,Salad,Veggie Crispy Tacos,Veggie Salad,Carnitas Salad
order_id,,,,,,,,,,,,,,,,,,,,,
1,1,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

**17) [P] Too often, many start by considering a minimum support that is arbitrarily large. Go ahead and use the
apriori method to generate frequent itemsets with a minsup value of 0.5. What happened?**

In [20]:
chip_df_quant_ignored = chip_df.copy()
chip_df_quant_ignored[chip_df_quant_ignored>1] = 1

In [21]:
chip_freq = apriori(chip_df_quant_ignored, min_support=0.5, use_colnames=True)
chip_freq

Empty DataFrame
Columns: [support, itemsets]
Index: []

There is no itemset that satisfies this value for minsup and so no frequent itemsets are returned

**18) [P] Take a step back. Your previous outcome is why you ALWAYS perform essential EDA tasks before you dive
into mining a dataset! Report a table that shows the number of transactions each item occurred in, sorted in
order of most frequent to least. NOTE: That number essentially represents the absolute support for 1-
itemsets! So, include a column that shows the relative support (i.e. the fraction of total transactions.)**

In [22]:
total_transactions = chip_df_quant_ignored.index.size
num_transactions = pd.DataFrame(chip_df_quant_ignored.sum(axis=0), columns=['Occurences'])
num_transactions['Relative Support'] = num_transactions['Occurences']/total_transactions
num_transactions.sort_values(by=['Occurences'], ascending=False).head()

                     Occurences  Relative Support
Chicken Bowl                615          0.335333
Chicken Burrito             489          0.266630
Chips and Guacamole         474          0.258451
Steak Burrito               342          0.186478
Canned Soft Drink           276          0.150491

**19) [P] Now, make a smarter decision. Like many large, real-world transaction datasets, data is sparse! You have
many variables, and most observations use only a handful of them. This is the definition of a sparse dataset.
You need a better minsup value. Regenerate frequent itemsets, but now use a minsup of 0.005. How many
frequent itemsets were reported? Report your frequent items sorted by decreasing support order.**

In [23]:
chip_freq = apriori(chip_df_quant_ignored, min_support=0.005, use_colnames=True)
chip_freq.sort_values(by=['support'], ascending=False).head()

     support               itemsets
4   0.335333         (Chicken Bowl)
11  0.266630      (Chicken Burrito)
8   0.258451  (Chips and Guacamole)
6   0.186478        (Steak Burrito)
32  0.150491    (Canned Soft Drink)

In [24]:
print('All in all, {} frequent itemsets were\
 reported for a minsup of 0.005'.format(chip_freq.shape[0]))

All in all, 146 frequent itemsets were reported for a minsup of 0.005

**20) [M] In the context of association rules, explain the difference between support, confidence, lift, leverage and
conviction.**

*Support*: This is a measure of the frequency of an itemset in a database/dataframe <br>
*Confidence*: This is the probability that we see a consequent itemset in a transaction, given that the transaction already contains the antecedent itemset.<br>
*Lift*: This is a metric used to measure variation from statistical independence. More specifically, it is used to measure how much more often the antecedent and consequent of a rule A->C occur together than we would expect if they were statistically independent.<br>
*Leverage*: Somewhat similar to lift in the sense both can be used to determine independence, but leverage computes the difference between the observed frequency of A and C appearing together and the frequency that would be expected if A and C were independent.<br>
*Conviction*: A metric to indicate the degree to which a consequent itemset is dependent on an antecedent itemset.

**21) [P] Generate all association rules that meet a minimum support of 0.01. How many rules were output in total?**

In [25]:
rules = association_rules(chip_freq, metric='support', min_threshold=0.01)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Chips and Fresh Tomato Salsa),(Chicken Bowl),0.059978,0.335333,0.016358,0.272727,0.813304,-0.003755,0.913918
1,(Chicken Bowl),(Chips and Fresh Tomato Salsa),0.335333,0.059978,0.016358,0.048780,0.813304,-0.003755,0.988228
2,(Steak Burrito),(Chips and Fresh Tomato Salsa),0.186478,0.059978,0.015267,0.081871,1.365019,0.004083,1.023845
3,(Chips and Fresh Tomato Salsa),(Steak Burrito),0.059978,0.186478,0.015267,0.254545,1.365019,0.004083,1.091310
4,(Chips and Fresh Tomato Salsa),(Chicken Burrito),0.059978,0.266630,0.014177,0.236364,0.886484,-0.001815,0.960365

In [26]:
print('There are {} rules'.format(rules.shape[0]))

There are 108 rules

**22) [P] Show only the rules that have a lift > 2, but sorted in order of decreasing confidence. What is your
strongest rule?**

In [27]:
lift_gr_2 = rules[rules['lift']>2].sort_values(by=['confidence'], ascending=False)
lift_gr_2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
96,"(Bottled Water, Chips)",(Chicken Bowl),0.019084,0.335333,0.015267,0.800000,2.385691,0.008868,3.323337
97,"(Bottled Water, Chicken Bowl)",(Chips),0.037623,0.113413,0.015267,0.405797,3.578038,0.011000,1.492061
39,(Canned Soda),(Steak Burrito),0.051254,0.186478,0.019629,0.382979,2.053751,0.010071,1.318467
103,"(Canned Soft Drink, Chicken Bowl)",(Chips),0.060523,0.113413,0.019084,0.315315,2.780232,0.012220,1.294883
98,"(Chips, Chicken Bowl)",(Bottled Water),0.066521,0.083969,0.015267,0.229508,2.733234,0.009681,1.188891
78,(Bottled Water),(Chips),0.083969,0.113413,0.019084,0.227273,2.003934,0.009561,1.147347
99,(Bottled Water),"(Chips, Chicken Bowl)",0.083969,0.066521,0.015267,0.181818,2.733234,0.009681,1.140918
79,(Chips),(Bottled Water),0.113413,0.083969,0.019084,0.168269,2.003934,0.009561,1.101355
106,(Chips),"(Canned Soft Drink, Chicken Bowl)",0.113413,0.060523,0.019084,0.168269,2.780232,0.012220,1.129544
100,(Chips),"(Bottled Water, Chicken Bowl)",0.113413,0.037623,0.015267,0.134615,3.578038,0.011000,1.112080
38,(Steak Burrito),(Canned Soda),0.186478,0.051254,0.019629,0.105263,2.053751,0.010071,1.060363
101,(Chicken Bowl),"(Bottled Water, Chips)",0.335333,0.019084,0.015267,0.045528,2.385691,0.008868,1.027706

In [28]:
print("The strongest rule has antecedents: {}, and consequents {}".format(lift_gr_2['antecedents'].values[0], 
      lift_gr_2['consequents'].values[0]))

The strongest rule has antecedents: frozenset({'Bottled Water', 'Chips'}), and consequents frozenset({'Chicken Bowl'})

**23) [M] Consider yourself the data scientist hired to help Chipotle understand item purchasing patterns. Interpret
the following rule for the non data scientist. Be careful not to say, "if your customers purchase canned soft
drinks AND chips, they are also going to buy chicken bowls." Think! What do strong association rules convey?**

The lift is greater than 1 and so the two sets are positively correlated. That is, a larger number of transactions with canned soft drinks, chips is likely to be accompanied by a larger number of chicken bowls. Since we have relatively high confidence, this rule is going to hold in many situations.

**24) [P] Suppose your boss is interested in what items are most likely related to a purchase of "Chips and
Guacamole". Using your rule set generated, first select the rules that have "Chips and Guacamole"
listed in the consequent itemset. Sort the rules by confidence, then by lift. And interpret your findings.
Identify the item(s) that are the most suggestive of including "Chips and Guacamole" when purchased,
and state why.**

In [29]:
chips_n_guac = rules['consequents'].apply(lambda x: "Chips and Guacamole" in x)
chips_n_guac_rules = rules.iloc[chips_n_guac[chips_n_guac==True].index]
chips_n_guac_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
11,(Chicken Bowl),(Chips and Guacamole),0.335333,0.258451,0.081243,0.242276,0.937416,-0.005424,0.978653
33,(Steak Burrito),(Chips and Guacamole),0.186478,0.258451,0.041439,0.222222,0.859822,-0.006756,0.953420
43,(Chicken Soft Tacos),(Chips and Guacamole),0.058342,0.258451,0.017448,0.299065,1.157143,0.002370,1.057943
45,(Chicken Burrito),(Chips and Guacamole),0.266630,0.258451,0.062159,0.233129,0.902022,-0.006752,0.966979
47,(Barbacoa Burrito),(Chips and Guacamole),0.047983,0.258451,0.011996,0.250000,0.967300,-0.000406,0.988731
49,(Bottled Water),(Chips and Guacamole),0.083969,0.258451,0.010360,0.123377,0.477369,-0.011342,0.845915
50,(Chicken Salad Bowl),(Chips and Guacamole),0.053435,0.258451,0.010360,0.193878,0.750151,-0.003451,0.919896
53,(Steak Bowl),(Chips and Guacamole),0.102508,0.258451,0.028899,0.281915,1.090785,0.002405,1.032675
55,(Veggie Burrito),(Chips and Guacamole),0.049618,0.258451,0.016903,0.340659,1.318079,0.004079,1.124682
57,(Veggie Bowl),(Chips and Guacamole),0.044711,0.258451,0.014722,0.329268,1.274004,0.003166,1.105581
59,(Canned Soft Drink),(Chips and Guacamole),0.150491,0.258451,0.033806,0.224638,0.869168,-0.005089,0.956390
61,(6 Pack Soft Drink),(Chips and Guacamole),0.029444,0.258451,0.011450,0.388889,1.504688,0.003841,1.213443
92,"(Canned Soft Drink, Chicken Bowl)",(Chips and Guacamole),0.060523,0.258451,0.012541,0.207207,0.801726,-0.003101,0.935362
94,(Canned Soft Drink),"(Chips and Guacamole, Chicken Bowl)",0.150491,0.081243,0.012541,0.083333,1.025727,0.000315,1.002280
95,(Chicken Bowl),"(Chips and Guacamole, Canned Soft Drink)",0.335333,0.033806,0.012541,0.037398,1.106268,0.001205,1.003732

*Now going to try sorting by confidence primarily*

In [30]:
chips_n_guac_rules.sort_values(by=['confidence'], ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
61,(6 Pack Soft Drink),(Chips and Guacamole),0.029444,0.258451,0.011450,0.388889,1.504688,0.003841,1.213443
55,(Veggie Burrito),(Chips and Guacamole),0.049618,0.258451,0.016903,0.340659,1.318079,0.004079,1.124682
57,(Veggie Bowl),(Chips and Guacamole),0.044711,0.258451,0.014722,0.329268,1.274004,0.003166,1.105581
43,(Chicken Soft Tacos),(Chips and Guacamole),0.058342,0.258451,0.017448,0.299065,1.157143,0.002370,1.057943
53,(Steak Bowl),(Chips and Guacamole),0.102508,0.258451,0.028899,0.281915,1.090785,0.002405,1.032675
47,(Barbacoa Burrito),(Chips and Guacamole),0.047983,0.258451,0.011996,0.250000,0.967300,-0.000406,0.988731
11,(Chicken Bowl),(Chips and Guacamole),0.335333,0.258451,0.081243,0.242276,0.937416,-0.005424,0.978653
45,(Chicken Burrito),(Chips and Guacamole),0.266630,0.258451,0.062159,0.233129,0.902022,-0.006752,0.966979
59,(Canned Soft Drink),(Chips and Guacamole),0.150491,0.258451,0.033806,0.224638,0.869168,-0.005089,0.956390
33,(Steak Burrito),(Chips and Guacamole),0.186478,0.258451,0.041439,0.222222,0.859822,-0.006756,0.953420
92,"(Canned Soft Drink, Chicken Bowl)",(Chips and Guacamole),0.060523,0.258451,0.012541,0.207207,0.801726,-0.003101,0.935362
50,(Chicken Salad Bowl),(Chips and Guacamole),0.053435,0.258451,0.010360,0.193878,0.750151,-0.003451,0.919896
49,(Bottled Water),(Chips and Guacamole),0.083969,0.258451,0.010360,0.123377,0.477369,-0.011342,0.845915
94,(Canned Soft Drink),"(Chips and Guacamole, Chicken Bowl)",0.150491,0.081243,0.012541,0.083333,1.025727,0.000315,1.002280
95,(Chicken Bowl),"(Chips and Guacamole, Canned Soft Drink)",0.335333,0.033806,0.012541,0.037398,1.106268,0.001205,1.003732

*Now going to try sorting by lift primarily*

In [31]:
chips_n_guac_rules.sort_values(by=['lift'], ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
61,(6 Pack Soft Drink),(Chips and Guacamole),0.029444,0.258451,0.011450,0.388889,1.504688,0.003841,1.213443
55,(Veggie Burrito),(Chips and Guacamole),0.049618,0.258451,0.016903,0.340659,1.318079,0.004079,1.124682
57,(Veggie Bowl),(Chips and Guacamole),0.044711,0.258451,0.014722,0.329268,1.274004,0.003166,1.105581
43,(Chicken Soft Tacos),(Chips and Guacamole),0.058342,0.258451,0.017448,0.299065,1.157143,0.002370,1.057943
95,(Chicken Bowl),"(Chips and Guacamole, Canned Soft Drink)",0.335333,0.033806,0.012541,0.037398,1.106268,0.001205,1.003732
53,(Steak Bowl),(Chips and Guacamole),0.102508,0.258451,0.028899,0.281915,1.090785,0.002405,1.032675
94,(Canned Soft Drink),"(Chips and Guacamole, Chicken Bowl)",0.150491,0.081243,0.012541,0.083333,1.025727,0.000315,1.002280
47,(Barbacoa Burrito),(Chips and Guacamole),0.047983,0.258451,0.011996,0.250000,0.967300,-0.000406,0.988731
11,(Chicken Bowl),(Chips and Guacamole),0.335333,0.258451,0.081243,0.242276,0.937416,-0.005424,0.978653
45,(Chicken Burrito),(Chips and Guacamole),0.266630,0.258451,0.062159,0.233129,0.902022,-0.006752,0.966979
59,(Canned Soft Drink),(Chips and Guacamole),0.150491,0.258451,0.033806,0.224638,0.869168,-0.005089,0.956390
33,(Steak Burrito),(Chips and Guacamole),0.186478,0.258451,0.041439,0.222222,0.859822,-0.006756,0.953420
92,"(Canned Soft Drink, Chicken Bowl)",(Chips and Guacamole),0.060523,0.258451,0.012541,0.207207,0.801726,-0.003101,0.935362
50,(Chicken Salad Bowl),(Chips and Guacamole),0.053435,0.258451,0.010360,0.193878,0.750151,-0.003451,0.919896
49,(Bottled Water),(Chips and Guacamole),0.083969,0.258451,0.010360,0.123377,0.477369,-0.011342,0.845915

*Now going to try sorting by confidence primarily and lift secondarily at the same time*

In [32]:
chips_n_guac_rules.sort_values(by=['confidence', 'lift'], ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
61,(6 Pack Soft Drink),(Chips and Guacamole),0.029444,0.258451,0.011450,0.388889,1.504688,0.003841,1.213443
55,(Veggie Burrito),(Chips and Guacamole),0.049618,0.258451,0.016903,0.340659,1.318079,0.004079,1.124682
57,(Veggie Bowl),(Chips and Guacamole),0.044711,0.258451,0.014722,0.329268,1.274004,0.003166,1.105581
43,(Chicken Soft Tacos),(Chips and Guacamole),0.058342,0.258451,0.017448,0.299065,1.157143,0.002370,1.057943
53,(Steak Bowl),(Chips and Guacamole),0.102508,0.258451,0.028899,0.281915,1.090785,0.002405,1.032675
47,(Barbacoa Burrito),(Chips and Guacamole),0.047983,0.258451,0.011996,0.250000,0.967300,-0.000406,0.988731
11,(Chicken Bowl),(Chips and Guacamole),0.335333,0.258451,0.081243,0.242276,0.937416,-0.005424,0.978653
45,(Chicken Burrito),(Chips and Guacamole),0.266630,0.258451,0.062159,0.233129,0.902022,-0.006752,0.966979
59,(Canned Soft Drink),(Chips and Guacamole),0.150491,0.258451,0.033806,0.224638,0.869168,-0.005089,0.956390
33,(Steak Burrito),(Chips and Guacamole),0.186478,0.258451,0.041439,0.222222,0.859822,-0.006756,0.953420
92,"(Canned Soft Drink, Chicken Bowl)",(Chips and Guacamole),0.060523,0.258451,0.012541,0.207207,0.801726,-0.003101,0.935362
50,(Chicken Salad Bowl),(Chips and Guacamole),0.053435,0.258451,0.010360,0.193878,0.750151,-0.003451,0.919896
49,(Bottled Water),(Chips and Guacamole),0.083969,0.258451,0.010360,0.123377,0.477369,-0.011342,0.845915
94,(Canned Soft Drink),"(Chips and Guacamole, Chicken Bowl)",0.150491,0.081243,0.012541,0.083333,1.025727,0.000315,1.002280
95,(Chicken Bowl),"(Chips and Guacamole, Canned Soft Drink)",0.335333,0.033806,0.012541,0.037398,1.106268,0.001205,1.003732

**25) [P] These data suggest that the "Chicken Bowl" is the single most frequent item purchased for this
particular location. Great. Let's dive into those chicken bowls more. As you know, Chipotle lets you customize
your items. That's what the choice_description field is for.
Process all of the items listed in the "choice_description" field by creating a new transaction dataset
representing binary encoded transaction data for only Chicken Bowl. Note – this is tricky because the
choice_description variable is read in as a long string. The string itself represents a list, and quite often,
it's a list of lists. You need to process this to be an actual flattened list of items. Then, you can easily convert
these to transactions.**

In [33]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chip_df = pd.read_csv(url, sep = '\t')

In [34]:
chicken_bowl = chip_df[chip_df['item_name'] == "Chicken Bowl"]

In [35]:
first = chicken_bowl['choice_description'].dropna().apply(lambda x: x.replace("[","").replace("]",""))
second = first.apply(lambda x: x.split(","))
second.head()

4     [Tomatillo-Red Chili Salsa (Hot),  Black Beans...
5     [Fresh Tomato Salsa (Mild),  Rice,  Cheese,  S...
13    [Fresh Tomato Salsa,  Fajita Vegetables,  Rice...
19    [Tomatillo Red Chili Salsa,  Fajita Vegetables...
26    [Roasted Chili Corn Salsa (Medium),  Pinto Bea...
Name: choice_description, dtype: object

In [36]:
dataset = second.tolist()
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df.head()

,Black Beans,Cheese,Fajita Vegetables,Fajita Veggies,Fresh Tomato Salsa (Mild),Guacamole,Lettuce,Pinto Beans,Rice,Roasted Chili Corn Salsa (Medium),...,Fresh Tomato (Mild),Fresh Tomato Salsa,Fresh Tomato Salsa (Mild),Roasted Chili Corn Salsa,Roasted Chili Corn Salsa (Medium),Tomatillo Green Chili Salsa,Tomatillo Red Chili Salsa,Tomatillo-Green Chili Salsa (Medium),Tomatillo-Red Chili Salsa (Hot),White Rice
0,True,True,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
1,False,True,False,False,False,True,True,False,True,False,...,False,False,True,False,False,False,False,False,False,False
2,False,True,True,False,False,True,False,False,True,False,...,False,True,False,False,False,False,False,False,False,False
3,True,True,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,False,True,False,True,False,False,True,True,True,False,...,False,False,False,False,True,False,False,False,False,False

**26) [P,M] Use your own knowledge to generate strong frequent patterns and association rules for the
choice_description items used with Chicken Bowls. Explain your findings.**

*Let's start by looking at the highest occurring item choices and the relative support associated with them.*

In [37]:
total_transactions = df.index.size
num_transactions = pd.DataFrame(df.sum(axis=0), columns=['Occurences'])
num_transactions['Relative Support'] = num_transactions['Occurences']/total_transactions
num_transactions.sort_values(by=['Occurences'], ascending=False)

                                       Occurences  Relative Support
 Rice                                         684          0.942149
 Cheese                                       549          0.756198
 Lettuce                                      443          0.610193
 Sour Cream                                   427          0.588154
 Black Beans                                  386          0.531680
Fresh Tomato Salsa                            324          0.446281
 Guacamole                                    282          0.388430
 Fajita Vegetables                            209          0.287879
 Pinto Beans                                  120          0.165289
Roasted Chili Corn Salsa                      106          0.146006
 Fajita Veggies                                87          0.119835
Fresh Tomato Salsa (Mild)                      70          0.096419
Tomatillo Green Chili Salsa                    65          0.089532
Tomatillo Red Chili Salsa                      61          0.084022
Roasted Chili Corn Salsa (Medium)              41          0.056474
Tomatillo-Red Chili Salsa (Hot)                40          0.055096
 Tomatillo-Red Chili Salsa (Hot)               25          0.034435
 Roasted Chili Corn Salsa (Medium)             24          0.033058
 Fresh Tomato Salsa (Mild)                     13          0.017906
Tomatillo-Green Chili Salsa (Medium)           13          0.017906
 Tomatillo-Green Chili Salsa (Medium)           8          0.011019
Fresh Tomato (Mild)                             4          0.005510
White Rice                                      2          0.002755

*Now let's use the apriori with a minsup of 0.3*

In [38]:
MIN_SUP = 0.1
choice_freq = apriori(df, min_support=MIN_SUP, use_colnames=True)
choice_freq.sort_values(by=['support'], ascending=False).head()

     support           itemsets
7   0.942149            ( Rice)
1   0.756198          ( Cheese)
22  0.725895   ( Cheese,  Rice)
5   0.610193         ( Lettuce)
37  0.588154  ( Lettuce,  Rice)

In [39]:
print('All in all, {} frequent itemsets were\
 reported for a minsup of {}'.format(choice_freq.shape[0], MIN_SUP))

All in all, 138 frequent itemsets were reported for a minsup of 0.1

In [40]:
rules = association_rules(choice_freq, metric='support', min_threshold=0.2)
print("{} rules were found for a minimun confidence of 0.5".format(rules.shape[0]))

266 rules were found for a minimun confidence of 0.5

In [41]:
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,( Cheese),( Black Beans),0.756198,0.531680,0.435262,0.575592,1.082590,0.033206,1.103465
1,( Black Beans),( Cheese),0.531680,0.756198,0.435262,0.818653,1.082590,0.033206,1.344392
2,( Guacamole),( Black Beans),0.388430,0.531680,0.231405,0.595745,1.120494,0.024884,1.158475
3,( Black Beans),( Guacamole),0.531680,0.388430,0.231405,0.435233,1.120494,0.024884,1.082872
4,( Lettuce),( Black Beans),0.610193,0.531680,0.331956,0.544018,1.023205,0.007528,1.027057

I want to investigate what kind of choices accompany lettuce, so let's see.

In [42]:
lettuce = rules['antecedents'].apply(lambda x: "Lettuce" in str(x))
lettuce_rules = rules.iloc[lettuce[lettuce==True].index]

*Sorting by confidence*

In [43]:
lettuce_rules.sort_values(by='confidence', ascending=False).head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
225,"( Lettuce, Cheese, Sour Cream)",( Rice),0.325069,0.942149,0.323691,0.995763,1.056906,0.017428,13.652893
239,"( Lettuce, Cheese, Fresh Tomato Salsa)",( Rice),0.203857,0.942149,0.202479,0.993243,1.054232,0.010416,8.561983
197,"( Lettuce, Black Beans, Sour Cream)",( Rice),0.203857,0.942149,0.201102,0.986486,1.047060,0.009039,4.280992
151,"( Lettuce, Sour Cream)",( Rice),0.377410,0.942149,0.371901,0.985401,1.045909,0.016324,3.962810
102,"( Lettuce, Cheese)",( Rice),0.487603,0.942149,0.476584,0.977401,1.037417,0.017189,2.559917

There is an overwhelming confidence for lettuce to be followed by rice, which means that whenever lettuce is the first ingredient picked (which has a decent probability of happening), there is a very high chance the customer will opt for rice next. It would make sense then for rice to be placed close to lettuce.

In [44]:
rules.sort_values(by='lift',ascending=False).head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
223,( Sour Cream),"( Guacamole, Cheese, Rice)",0.588154,0.285124,0.207989,0.353630,1.240267,0.040292,1.105986
210,"( Guacamole, Cheese, Rice)",( Sour Cream),0.285124,0.588154,0.207989,0.729469,1.240267,0.040292,1.522358
214,"( Guacamole, Cheese)","( Rice, Sour Cream)",0.297521,0.573003,0.207989,0.699074,1.220019,0.037509,1.418945
219,"( Rice, Sour Cream)","( Guacamole, Cheese)",0.573003,0.297521,0.207989,0.362981,1.220019,0.037509,1.102760
101,( Sour Cream),"( Guacamole, Cheese)",0.588154,0.297521,0.212121,0.360656,1.212204,0.037133,1.098750

There does not seem to be a strong correlation, but a correlation nevertheless exists between rice and sour cream which is a positive correlation in nature.